.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 300px;
    margin: auto;
    border-radius: 11px;
    padding: 30px ;
    margin-top: 50px;
    box-shadow: 5px 5px 10px 10px rgb(157, 154, 154);
}
.register:hover{
    color: rgb(241, 220, 135);
}

input{
    padding: 10px;
    border-radius: 7px;

    
}
.register p{
    font-weight: 400px;
}
form span{
    cursor: pointer;
}
form span:hover{
    color: rgb(255, 19, 50);
}