.product{
  display: flex;
  flex-direction: column-reverse;
}
.product-img{
  width: 400px;
  height: auto;
  background-color: aqua;
}
.product-img img{
  width: 400px;
  height: 500px;
}
.product-disc{
  background-color: black;
}