.productlist {
    padding: 20px;
    /* max-width: 1200px;
    margin: 0 auto; */
    background-color: aqua;
  }
  
  .productlist h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .productlist1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .indproductlist {

    border-radius: 10px;
    overflow: hidden;
  
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 260px;
    height: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .indproductlist:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .indproductlist img {
    width: 85%;
    height: 49%; 
    object-fit: contain;
   
  }
  
  .productname {
    padding: 15px;
    height: 40%; /* Ensure the product details take up 40% of the card height */
  }
  
  .productname span {
    display: block;
    margin-bottom: 10px;
  }
  
  .productname span:last-of-type {
    font-weight: bold;
    color: #007bff; /* Accent color for price */
  }
  
  @media (max-width: 768px) {
    .productlist1 {
      flex-direction: column;
      align-items: center;
    }
  
    .indproductlist {
      width: 90%;
    }
  }
  